<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
  <div class="row breadcrumb bg-warning flex-column text-left text-md-center d-none d-sm-flex mx-1 my-0">
    <h1 class="text-success">
      Welcome to <strong id="title" class="">{{siteTitle}}</strong>!
    </h1>
    <p class="h5 text-center">... Home Of Freeless Selection ...
      <span><i class="fa fa-cart-plus fa-2x text-danger"></i></span>
    </p>
  </div>

  <nav  class="navbar navbar-expand-md navbar-dark bg-dark nav-pills mx-1 my-0">
  <a class="navbar-brand">{{siteAbrv}}</a>
  <div class="collapse navbar-collapse" id="myNav">
    <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Product List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Add Product</a>
    </li>
  </ul>
  </div>
    
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link">Show Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Log Out</a>
    </li>
  </ul>
  <button class="navbar navbar-toggler" data-toggle="collapse" data-target="#myNav" arial-controls="myNav" arial-expanded="fasle">
    <i  class="fa fa-bars"></i>
  </button>
</nav>

  </div>
  