<div class="card mx-1 my-0">
  <div class="card-header text-light bg-danger h1">
    {{siteTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Renny Kawak</h3>
      </div>

      <div class="text-center">
        <a href="http://twitter.com/resusRennyKawka/">
        <i class="fa fa-twitter-square"></i> @resusRennyKawka</a>
      </div>
      <div class="text-center">
        <a href="http://www.rennykawka.wordpress.com">
          <i class="fa fa-wordpress"></i>
          rennykawka.wordpress.com</a>
      </div>
    </div>
  </div>
</div>